
@{
    ViewBag.Title = "Farm";
    Layout = "~/Views/Shared/_GenerelLayout.cshtml";
    //Layout = null;
}

<!DOCTYPE html>
<html>

<head>
   
    @*this css is important for css*@

    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1475054487397 {
            background-color: #fec321 !important;
        }

        .vc_custom_1475061036330 {
            background-image: url(../wp-content/uploads/2016/09/big_bg.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

       

        .vc_custom_1475060512699 {
            margin-bottom: 4.25em !important;
        }

        .vc_custom_1475062560306 {
            margin-bottom: 3rem !important;
        }

        .vc_custom_1475227276833 {
            margin-top: 2.4rem !important;
            margin-bottom: 1.9rem !important;
        }
    </style>
</head>

<body>
    
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap">
            </div>
          

           
            

            <div class="page_content_wrap page_paddings_no">
                <div class="content_wrap">
                    <div class="content">
                        <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-169 page type-page status-publish hentry" itemscope="" itemtype="//schema.org/Article">
                            <section class="post_content" itemprop="articleBody">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1475054487397 inverse_colors">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1475060512699">
                                            <div class="wpb_wrapper">
                                                <div class="sc_section section_style_white_text" data-animation="animated fadeInUp normal" style="color:#ffffff;">
                                                    <div class="sc_section_inner">
                                                        <h2 class="sc_section_title sc_item_title sc_item_title_without_descr">Capabilities<span></span></h2><div class="sc_section_content_wrap">
                                                            <div id="sc_services_990973602_wrap" class="sc_services_wrap">
                                                                <div id="sc_services_990973602" class="sc_services sc_services_style_services-5 sc_services_type_icons  margin_bottom_large" style="width:100%;">
                                                                    <div class="sc_service_container sc_align_">
                                                                        <div class="sc_services_image"><img src="~/Content/wp-content/uploads/2016/09/big_cow.png" alt="big_cow"></div><div class="sc_columns columns_wrap">
                                                                            <div class="column-1_2 column_padding_bottom">
                                                                                <div id="sc_services_990973602_1" class="sc_services_item sc_services_item_1 odd first">
                                                                                    <a href="../services/animal-welfare/index.htm"><span class="sc_icon icon-book-open"></span></a> <div class="sc_services_item_content">
                                                                                        <h4 class="sc_services_item_title"><a href="../services/animal-welfare/index.htm">Animal Welfare</a></h4>
                                                                                        <div class="sc_services_item_description">
                                                                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="column-1_2 column_padding_bottom">
                                                                                <div id="sc_services_990973602_2" class="sc_services_item sc_services_item_2 even">
                                                                                    <a href="../services/herd-management/index.htm"><span class="sc_icon icon-book-open"></span></a> <div class="sc_services_item_content">
                                                                                        <h4 class="sc_services_item_title"><a href="../services/herd-management/index.htm">Herd Management</a></h4>
                                                                                        <div class="sc_services_item_description">
                                                                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="column-1_2 column_padding_bottom">
                                                                                <div id="sc_services_990973602_3" class="sc_services_item sc_services_item_3 odd">
                                                                                    <a href="../services/automated-milking/index.htm"><span class="sc_icon icon-book-open"></span></a> <div class="sc_services_item_content">
                                                                                        <h4 class="sc_services_item_title"><a href="../services/automated-milking/index.htm">Automated Milking</a></h4>
                                                                                        <div class="sc_services_item_description">
                                                                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="column-1_2 column_padding_bottom">
                                                                                <div id="sc_services_990973602_4" class="sc_services_item sc_services_item_4 even">
                                                                                    <a href="../services/milk-preservation/index.htm"><span class="sc_icon icon-book-open"></span></a> <div class="sc_services_item_content">
                                                                                        <h4 class="sc_services_item_title"><a href="../services/milk-preservation/index.htm">Milk Preservation</a></h4>
                                                                                        <div class="sc_services_item_description">
                                                                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vc_row-full-width"></div><div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="sc_section margin_top_huge" data-animation="animated fadeInUp normal">
                                                    <div class="sc_section_inner">
                                                        <h2 class="sc_section_title sc_item_title sc_item_title_without_descr">Our Shop<span></span></h2><div class="sc_section_content_wrap">
                                                            <div class="woocommerce columns-4 ">
                                                                <ul class="products columns-4">
                                                                    <li class="product type-product post-471 status-publish first instock product_cat-cheese product_tag-cheese product_tag-cream product_tag-italian product_tag-organic has-post-thumbnail shipping-taxable purchasable product-type-variable">
                                                                        <div class="post_item_wrap">
                                                                            <div class="post_featured">
                                                                                <div class="post_thumb">
                                                                                    <a class="hover_icon hover_icon_link" href="../product/pecorino-romano/index.htm">
                                                                                        <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-1-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-1-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-1-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-1-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-1.jpg 510w" sizes="(max-width: 300px) 100vw, 300px">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="post_content">
                                                                                <h2 class="woocommerce-loop-product__title">Pecorino Romano</h2>
                                                                                <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>18.90</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>38.00</bdi></span></span>
                                                                                <a href="../product/pecorino-romano/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="471" data-product_sku="" aria-label="Select options for &ldquo;Pecorino Romano&rdquo;" rel="nofollow">Select options</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product type-product post-458 status-publish instock product_cat-milk product_tag-buttery product_tag-italian product_tag-taste has-post-thumbnail shipping-taxable purchasable product-type-variable">
                                                                        <div class="post_item_wrap">
                                                                            <div class="post_featured">
                                                                                <div class="post_thumb">
                                                                                    <a class="hover_icon hover_icon_link" href="../product/evaporated-milk/index.htm">
                                                                                        <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-2-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-2-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-2-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-2-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-2-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-2-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-2.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="post_content">
                                                                                <h2 class="woocommerce-loop-product__title">Evaporated Milk</h2>
                                                                                <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>4.90</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>8.99</bdi></span></span>
                                                                                <a href="../product/evaporated-milk/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="458" data-product_sku="" aria-label="Select options for &ldquo;Evaporated Milk&rdquo;" rel="nofollow">Select options</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product type-product post-448 status-publish instock product_cat-butter product_tag-cream product_tag-italian has-post-thumbnail shipping-taxable purchasable product-type-variable">
                                                                        <div class="post_item_wrap">
                                                                            <div class="post_featured">
                                                                                <div class="post_thumb">
                                                                                    <a class="hover_icon hover_icon_link" href="../product/farm-sour-cream/index.htm">
                                                                                        <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-3-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-3-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-3-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-3-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-3-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-3-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-3-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-3.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="post_content">
                                                                                <h2 class="woocommerce-loop-product__title">Farm Sour Cream</h2>
                                                                                <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>12.50</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>29.00</bdi></span></span>
                                                                                <a href="../product/farm-sour-cream/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="448" data-product_sku="" aria-label="Select options for &ldquo;Farm Sour Cream&rdquo;" rel="nofollow">Select options</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product type-product post-438 status-publish last instock product_cat-ice-cream product_tag-cheese product_tag-cream product_tag-organic has-post-thumbnail shipping-taxable purchasable product-type-variable">
                                                                        <div class="post_item_wrap">
                                                                            <div class="post_featured">
                                                                                <div class="post_thumb">
                                                                                    <a class="hover_icon hover_icon_link" href="../product/ricotta-salata/index.htm">
                                                                                        <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-4-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-4-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-4-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-4-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-4-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-4-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-4-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-4.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="post_content">
                                                                                <h2 class="woocommerce-loop-product__title">Ricotta Salata</h2>
                                                                                <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>15.99</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>68.99</bdi></span></span>
                                                                                <a href="../product/ricotta-salata/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="438" data-product_sku="" aria-label="Select options for &ldquo;Ricotta Salata&rdquo;" rel="nofollow">Select options</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="columns_wrap sc_columns columns_nofluid sc_columns_count_12 margin_top_small margin_bottom_huge" data-animation="animated fadeInUp normal"><div class="column-7_12 sc_column_item sc_column_item_1 odd first span_7"><div class="sc_intro" style="background-image: url('../../Content/wp-content/uploads/2016/09/intro1.jpg');"><div class="sc_intro_inner  sc_intro_style_2"><div class="sc_intro_content"><h2 class="sc_intro_title">Breakfast Ideas</h2><div class="sc_intro_descr">Heat up your mornings with a bowl of warm cereal. Whether you prefer oatmeal, farina, or any other kind of porridge, make your instant version a bit creamier!</div></div></div></div></div><div class="column-5_12 sc_column_item sc_column_item_8 even span_5"><div class="sc_intro" style="background: url('../../Content/wp-content/uploads/2016/09/intro2.jpg');"><div class="sc_intro_inner  sc_intro_style_2"><div class="sc_intro_content"><h2 class="sc_intro_title">Ice Cream</h2><div class="sc_intro_descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus.</div></div></div></div></div></div></div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1475061036330 inverse_colors">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1475062560306">
                                            <div class="wpb_wrapper">
                                                <div class="sc_section margin_top_huge" data-animation="animated fadeInUp normal">
                                                    <div class="sc_section_inner">
                                                        <h2 class="sc_section_title sc_item_title sc_item_title_without_descr">Team<span></span></h2><div class="sc_section_content_wrap">
                                                            <div id="sc_team_355975821_wrap" class="sc_team_wrap">
                                                                <div id="sc_team_355975821" class="sc_team sc_team_style_team-3  margin_bottom_large" style="width:100%;">
                                                                    <div class="sc_columns columns_wrap">
                                                                        <div class="column-1_4 column_padding_bottom">
                                                                            <div id="sc_team_355975821_1" class="sc_team_item sc_team_item_1 odd first">
                                                                                <div class="sc_team_item_avatar">
                                                                                    <img class="wp-post-image" width="370" height="370" alt="Bobby Young" src="~/Content/wp-content/uploads/2016/09/team-2-370x370.jpg"> <div class="sc_team_item_hover">
                                                                                        <div class="sc_team_item_socials"><div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny"><div class="sc_socials_item"><a href="https://twitter.com/themes_ancora" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="https://www.linkedin.com/" target="_blank" class="social_icons social_linkedin"><span class="icon-linkedin"></span></a></div></div></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="sc_team_item_info">
                                                                                    <h4 class="sc_team_item_title"><a href="../team/bobby-young/index.htm">Bobby Young</a></h4>
                                                                                    <div class="sc_team_item_position">A Tractor Driver</div>
                                                                                </div>
                                                                            </div>
                                                                        </div><div class="column-1_4 column_padding_bottom">
                                                                            <div id="sc_team_355975821_2" class="sc_team_item sc_team_item_2 even">
                                                                                <div class="sc_team_item_avatar">
                                                                                    <img class="wp-post-image" width="370" height="370" alt="Jose Morrison" src="~/Content/wp-content/uploads/2016/09/team-4-370x370.jpg"> <div class="sc_team_item_hover">
                                                                                        <div class="sc_team_item_socials"><div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny"><div class="sc_socials_item"><a href="https://twitter.com/themes_ancora" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="https://www.linkedin.com/" target="_blank" class="social_icons social_linkedin"><span class="icon-linkedin"></span></a></div></div></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="sc_team_item_info">
                                                                                    <h4 class="sc_team_item_title"><a href="../team/jose-morrison/index.htm">Jose Morrison</a></h4>
                                                                                    <div class="sc_team_item_position">A Business Owner</div>
                                                                                </div>
                                                                            </div>
                                                                        </div><div class="column-1_4 column_padding_bottom">
                                                                            <div id="sc_team_355975821_3" class="sc_team_item sc_team_item_3 odd">
                                                                                <div class="sc_team_item_avatar">
                                                                                    <img class="wp-post-image" width="370" height="370" alt="Laura Smith" src="~/Content/wp-content/uploads/2016/09/team-3-370x370.jpg"> <div class="sc_team_item_hover">
                                                                                        <div class="sc_team_item_socials"><div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny"><div class="sc_socials_item"><a href="https://twitter.com/themes_ancora" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="https://www.linkedin.com/" target="_blank" class="social_icons social_linkedin"><span class="icon-linkedin"></span></a></div></div></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="sc_team_item_info">
                                                                                    <h4 class="sc_team_item_title"><a href="../team/laura-smith/index.htm">Laura Smith</a></h4>
                                                                                    <div class="sc_team_item_position">A Chief Accountant</div>
                                                                                </div>
                                                                            </div>
                                                                        </div><div class="column-1_4 column_padding_bottom">
                                                                            <div id="sc_team_355975821_4" class="sc_team_item sc_team_item_4 even">
                                                                                <div class="sc_team_item_avatar">
                                                                                    <img class="wp-post-image" width="370" height="370" alt="Tyler Holland" src="~/Content/wp-content/uploads/2016/09/team-1-370x370.jpg"> <div class="sc_team_item_hover">
                                                                                        <div class="sc_team_item_socials"><div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny"><div class="sc_socials_item"><a href="https://twitter.com/themes_ancora" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="https://www.linkedin.com/" target="_blank" class="social_icons social_linkedin"><span class="icon-linkedin"></span></a></div></div></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="sc_team_item_info">
                                                                                    <h4 class="sc_team_item_title"><a href="../team/tyler-holland/index.htm">Tyler Holland</a></h4>
                                                                                    <div class="sc_team_item_position">Our Only Marketer</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vc_row-full-width"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1475050026958">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1475227276833">
                                            <div class="wpb_wrapper">
                                                <div id="sc_clients_897866782_wrap" class="sc_clients_wrap">
                                                    <div id="sc_clients_897866782" class="sc_clients sc_clients_style_clients-1 " style="width:100%;" data-animation="animated fadeIn normal">
                                                        <div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="5938" data-slides-per-view="5" data-slides-min-width="100">
                                                            <div class="slides swiper-wrapper">
                                                                <div class="swiper-slide" data-style="width:100%;" style="width:100%;">
                                                                    <div id="sc_clients_897866782_1" class="sc_clients_item sc_clients_item_1 odd first">
                                                                        <div class="sc_client_image"><img class="wp-post-image" alt="Client 1" src="~/Content/wp-content/uploads/2016/09/5-1.png"></div>
                                                                    </div>
                                                                </div><div class="swiper-slide" data-style="width:100%;" style="width:100%;">
                                                                    <div id="sc_clients_897866782_2" class="sc_clients_item sc_clients_item_2 even">
                                                                        <div class="sc_client_image"><img class="wp-post-image" alt="Client 2" src="~/Content/wp-content/uploads/2016/09/3-1.png"></div>
                                                                    </div>
                                                                </div><div class="swiper-slide" data-style="width:100%;" style="width:100%;">
                                                                    <div id="sc_clients_897866782_3" class="sc_clients_item sc_clients_item_3 odd">
                                                                        <div class="sc_client_image"><img class="wp-post-image" alt="Client 3" src="~/Content/wp-content/uploads/2016/09/2-1.png"></div>
                                                                    </div>
                                                                </div><div class="swiper-slide" data-style="width:100%;" style="width:100%;">
                                                                    <div id="sc_clients_897866782_4" class="sc_clients_item sc_clients_item_4 even">
                                                                        <div class="sc_client_image"><img class="wp-post-image" alt="Client 4" src="~/Content/wp-content/uploads/2016/09/1-1.png"></div>
                                                                    </div>
                                                                </div><div class="swiper-slide" data-style="width:100%;" style="width:100%;">
                                                                    <div id="sc_clients_897866782_5" class="sc_clients_item sc_clients_item_5 odd">
                                                                        <div class="sc_client_image"><img class="wp-post-image" alt="Client 5" src="~/Content/wp-content/uploads/2016/09/4-1.png"></div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="sc_slider_controls_wrap"><a class="sc_slider_prev" href="#"></a><a class="sc_slider_next" href="#"></a></div><div class="sc_slider_pagination_wrap"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="vc_row-full-width"></div>
                            </section>
                        </article>  <section class="related_wrap related_wrap_empty"></section>
                    </div>
                </div>
            </div>




        </div>
    </div>



    

</body>
</html>

