<!--footer start-->

<footer class="call_wrap">
    <div class="call_wrap_inner">
        <div class="content_wrap">
            <h2 class="call-title">Where to Buy</h2> <div class="call-text">Our Products are currently available at select retailers in Connecticut and New York..</div> <a class="sc_button sc_button_size_large sc_button_style_border" href="../contacts/index.htm">Store Locator</a>
        </div>
    </div>
</footer>
<footer class="footer_wrap widget_area scheme_original">
    <div class="footer_wrap_inner widget_area_inner">
        <div class="content_wrap">
            <div class="columns_wrap">
                <aside id="nav_menu-2" class="widget_number_1 column-1_4 widget widget_nav_menu">
                    <h4 class="widget_title">On the Farm</h4><div class="menu-footer-menu-1-container">
                        <ul id="menu-footer-menu-1" class="menu">
                            <li id="menu-item-582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-582"><a href="../farm/index.htm">Meet Our Farmers</a></li>
                            <li id="menu-item-583" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-583"><a href="../our-recipes/index.htm">Meet the Cows</a></li>
                            <li id="menu-item-584" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-584"><a href="../gallery-cobbles/index.htm">Famous Dairy Facts</a></li>
                            <li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-585"><a href="../gallery-grid/index.htm">From the Farm to the Fridge</a></li>
                            <li id="menu-item-586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-586"><a href="../contacts/index.htm">Dairy Farm Map</a></li>
                            <li id="menu-item-587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-587"><a href="../classic/index.htm">Farm Practices</a></li>
                        </ul>
                    </div>
                </aside><aside id="nav_menu-3" class="widget_number_2 column-1_4 widget widget_nav_menu">
                    <h4 class="widget_title">In the Kitchen</h4><div class="menu-footer-menu-2-container">
                        <ul id="menu-footer-menu-2" class="menu">
                            <li id="menu-item-589" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-589"><a href="../our-recipes/index.htm">Recipes</a></li>
                            <li id="menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-590"><a href="../masonry-2-columns/index.htm">Lactose Intolerance</a></li>
                            <li id="menu-item-591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-591"><a href="../shop/index.htm">Milk Imitators</a></li>
                            <li id="menu-item-592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-592"><a href="../portfolio-3-columns/index.htm">Organic Milk</a></li>
                            <li id="menu-item-593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-593"><a href="../portfolio-2-columns/index.htm">Flavored Milk</a></li>
                            <li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a href="../contacts/index.htm">Ask Our Dietitian</a></li>
                        </ul>
                    </div>
                </aside><aside id="nav_menu-4" class="widget_number_3 column-1_4 widget widget_nav_menu">
                    <h4 class="widget_title">In the News</h4><div class="menu-footer-menu-3-container">
                        <ul id="menu-footer-menu-3" class="menu">
                            <li id="menu-item-596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-596"><a href="../masonry-3-columns/index.htm">Local Milk Blog</a></li>
                            <li id="menu-item-597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-597"><a href="../classic/index.htm">Contests/Sweepstakes</a></li>
                            <li id="menu-item-598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-598"><a href="../gallery-cobbles/index.htm">Videos</a></li>
                            <li id="menu-item-599" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-170 current_page_item menu-item-599"><a href="index.htm" aria-current="page">News Releases</a></li>
                            <li id="menu-item-600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600"><a href="../about-2/index.htm">Newsletters</a></li>
                        </ul>
                    </div>
                </aside><aside id="nav_menu-5" class="widget_number_4 column-1_4 widget widget_nav_menu">
                    <h4 class="widget_title">About Us</h4><div class="menu-footer-menu-4-container">
                        <ul id="menu-footer-menu-4" class="menu">
                            <li id="menu-item-601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-601"><a href="../contacts/index.htm">FAQ</a></li>
                            <li id="menu-item-602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-602"><a href="../farm/index.htm">Our Board</a></li>
                            <li id="menu-item-603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603"><a href="../about-2/index.htm">Our Staff</a></li>
                            <li id="menu-item-604" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-604"><a href="../contacts/index.htm">Contact Us</a></li>
                        </ul>
                    </div>
                </aside><aside id="dairy_farm_widget_socials-2" class="widget_number_5 column-1_4 widget widget_socials">
                    <div class="widget_inner">
                        <div class="logo">
                            <a href="../index.htm"><img src="~/Content/logo/logo.jpg" class="logo_main" alt="footer-logo" width="74" height="74"></a>
                        </div>
                    </div>
                </aside><aside id="text-2" class="widget_number_6 column-1_4 widget widget_text">
                    <div class="textwidget">
                        888 Broadway, New York, NY, 18813<br>
                        <span class="accent1">Phone: <a href="tel:123-456-7890">123-456-7890</a></span><br>
                        Fax: 123-456-7890<br>
                        Email: <a href="../cdn-cgi/l/email-protection.html#abc2c5cdc4ebd2c4ded9d8c2dfce85c8c4c6"><span class="__cf_email__" data-cfemail="fb92959d94bb82948e8988928f9ed5989496">[email&#160;protected]</span></a>
                    </div>
                </aside><aside id="text-3" class="widget_number_7 column-1_4 widget widget_text">
                    <div class="textwidget"></div>
                </aside><aside id="dairy_farm_widget_socials-3" class="widget_number_8 column-1_4 widget widget_socials">
                    <div class="widget_inner">
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny"><div class="sc_socials_item"><a href="https://twitter.com/themes_ancora" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="https://www.linkedin.com/" target="_blank" class="social_icons social_linkedin"><span class="icon-linkedin"></span></a></div></div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</footer>
<div class="copyright_wrap copyright_style_menu  scheme_original">
    <div class="copyright_wrap_inner">
        <div class="content_wrap">
            <ul id="menu_footer" class="menu_footer_nav">
                <li id="menu-item-607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-607"><a href="../farm/index.htm"><span>FAQ</span></a></li>
                <li id="menu-item-608" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-608"><a href="../classic/index.htm"><span>News</span></a></li>
                <li id="menu-item-609" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-609"><a href="../contacts/index.htm"><span>Contact Us</span></a></li>
            </ul> <div class="copyright_text"><p><a href="https://themeforest.net/user/ancorathemes/portfolio" target="_blank" rel="noopener">AncoraThemes</a> © 2022. All rights reserved.</p></div>
        </div>
    </div>
</div>

<!--footer end-->
