@{
    
    ViewBag.Title = "ContactUs";
                Layout = "~/Views/Shared/_GenerelLayout.cshtml"; 
    }




<div class="page_content_wrap page_paddings_no">
    <div class="content_wrap">
        <div class="content">
            <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-110 page type-page status-publish hentry" itemscope="" itemtype="//schema.org/Article">
                <section class="post_content" itemprop="articleBody">
                    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div id="sc_googlemap_1990191612_wrap" class="sc_googlemap_wrap">
                                        <div id="sc_googlemap_1990191612" class="sc_googlemap" style="width:100%;height:641px;" data-zoom="16" data-style="greyscale"><iframe src="https://maps.google.com/maps?t=m&output=embed&iwloc=near&z=16&q=Rome" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" aria-label=""></iframe></div><div class="sc_googlemap_content">
                                            <div class="sc_section sc_section_block ">
                                                <div class="sc_section_inner">
                                                    <div class="sc_section_content_wrap">
                                                        <h4 class="sc_title sc_title_regular">Contact Us</h4><div role="form" class="wpcf7" id="wpcf7-f623-p110-o1" lang="en-US" dir="ltr">
                                                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                            <form action="/contacts/#wpcf7-f623-p110-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                                <div style="display: none;">
                                                                    <input type="hidden" name="_wpcf7" value="623">
                                                                    <input type="hidden" name="_wpcf7_version" value="5.5.6">
                                                                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f623-p110-o1">
                                                                    <input type="hidden" name="_wpcf7_container_post" value="110">
                                                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                                                </div>
                                                                <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name*"></span></p>
                                                                <p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail*"></span></p>
                                                                <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea></span></p>
                                                                <p><input type="submit" value="Send Message" class="wpcf7-form-control has-spinner wpcf7-submit"></p>
                                                                <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width"></div><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3 margin_top_huge margin_bottom_huge"><div class="column-1_3 sc_column_item sc_column_item_1 odd first" style="text-align:center;"><div class="sc_section section_style_bordered_section"><div class="sc_section_inner"><div class="sc_section_content_wrap"><h4 class="sc_title sc_title_regular sc_align_center" style="margin-top: 2.28em;margin-bottom: 0.28em;text-align:center;">Address</h4><span class="sc_highlight">123, New Lenox Chicago, IL 60606</span><div class="vc_empty_space" style="height: 4.2em"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="column-1_3 sc_column_item sc_column_item_2 even" style="text-align:center;"><div class="sc_section section_style_bordered_section"><div class="sc_section_inner"><div class="sc_section_content_wrap"><h4 class="sc_title sc_title_regular sc_align_center" style="margin-top: 2.28em;margin-bottom: 0.28em;text-align:center;">Phone</h4><span class="sc_highlight"><a href="tel:123-456-7890">123-456-7890</a></span><div class="vc_empty_space" style="height: 4.2em"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="column-1_3 sc_column_item sc_column_item_3 odd" style="text-align:center;"><div class="sc_section section_style_bordered_section"><div class="sc_section_inner"><div class="sc_section_content_wrap"><h4 class="sc_title sc_title_regular sc_align_center" style="margin-top: 2.28em;margin-bottom: 0.28em;text-align:center;">Email</h4><span class="sc_highlight"><a href="../cdn-cgi/l/email-protection.html#3b52555d547b42544e4948524f5e15585456"><span class="__cf_email__" data-cfemail="4c25222a230c3523393e3f253829622f2321">[email&#160;protected]</span></a></span><div class="vc_empty_space" style="height: 4.2em"><span class="vc_empty_space_inner"></span></div></div></div></div></div></div></div></div></div></div>
                </section>
            </article>  <section class="related_wrap related_wrap_empty"></section>
        </div>
    </div>
</div>

<script type='text/javascript' src='~/Content/wp-content/plugins/trx_utils/js/core.googlemap.js' id='dairy-farm-googlemap-script-js'></script>


