
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_GenerelLayout.cshtml";
    
}



<div class="archive post-type-archive post-type-archive-product theme-dairy-farm ua_chrome woocommerce-shop woocommerce woocommerce-page woocommerce-no-js dairy_farm_body body_style_wide body_filled article_style_stretch layout_excerpt template_excerpt scheme_original top_panel_show top_panel_above sidebar_show sidebar_left sidebar_outer_hide wpb-js-composer js-comp-ver-6.8.0 vc_responsive">

    <div class="page_content_wrap page_paddings_yes">
        <div class="content_wrap">
            <div class="content">
                <div class="list_products shop_mode_thumbs">
                    <nav class="woocommerce-breadcrumb"><a href="../index.htm">Home</a>&nbsp;&#47;&nbsp;Shop</nav>
                    <header class="woocommerce-products-header">
                    </header>
                    <div class="woocommerce-notices-wrapper"></div><div class="mode_buttons"><form action="https://dairy-farm.ancorathemes.com/shop" method="post"><input type="hidden" name="dairy_farm_shop_mode" value="thumbs"><a href="#" class="woocommerce_thumbs icon-th" title="Show products as thumbs"></a><a href="#" class="woocommerce_list icon-th-list" title="Show products as list"></a></form></div><p class="woocommerce-result-count">
                        Showing all 9 results
                    </p>
                    <form class="woocommerce-ordering" method="get">
                        <select name="orderby" class="orderby" aria-label="Shop order">
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date" selected='selected'>Sort by latest</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option>
                        </select>
                        <input type="hidden" name="paged" value="1">
                        <input type="hidden" name="q" value="/shop/">
                    </form>
                    <ul class="products columns-3">
                        <li class=" column-1_3 product type-product post-471 status-publish first instock product_cat-cheese product_tag-cheese product_tag-cream product_tag-italian product_tag-organic has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/pecorino-romano/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-1-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-1-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-1-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-1-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-1.jpg 510w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/pecorino-romano/index.htm">Pecorino Romano</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>18.90</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>38.00</bdi></span></span>
                                    <a href="../product/pecorino-romano/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="471" data-product_sku="" aria-label="Select options for &ldquo;Pecorino Romano&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-458 status-publish instock product_cat-milk product_tag-buttery product_tag-italian product_tag-taste has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/evaporated-milk/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-2-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-2-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-2-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-2-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-2-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-2-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-2.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/evaporated-milk/index.htm">Evaporated Milk</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>4.90</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>8.99</bdi></span></span>
                                    <a href="../product/evaporated-milk/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="458" data-product_sku="" aria-label="Select options for &ldquo;Evaporated Milk&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-448 status-publish last instock product_cat-butter product_tag-cream product_tag-italian has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/farm-sour-cream/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-3-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-3-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-3-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-3-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-3-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-3-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-3-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-3.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/farm-sour-cream/index.htm">Farm Sour Cream</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>12.50</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>29.00</bdi></span></span>
                                    <a href="../product/farm-sour-cream/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="448" data-product_sku="" aria-label="Select options for &ldquo;Farm Sour Cream&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-438 status-publish first instock product_cat-ice-cream product_tag-cheese product_tag-cream product_tag-organic has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/ricotta-salata/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-4-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-4-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-4-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-4-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-4-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-4-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-4-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-4.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/ricotta-salata/index.htm">Ricotta Salata</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>15.99</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>68.99</bdi></span></span>
                                    <a href="../product/ricotta-salata/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="438" data-product_sku="" aria-label="Select options for &ldquo;Ricotta Salata&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-426 status-publish instock product_cat-cheese product_tag-buttery product_tag-cream product_tag-italian product_tag-taste has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/fromage-a-raclette/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-5-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-5-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-5-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-5-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-5-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-5-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-5-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-5.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/fromage-a-raclette/index.htm">Fromage a Raclette</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>31.50</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>99.90</bdi></span></span>
                                    <a href="../product/fromage-a-raclette/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="426" data-product_sku="" aria-label="Select options for &ldquo;Fromage a Raclette&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-412 status-publish last instock product_cat-yoghurt product_tag-cream product_tag-italian has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/parmesan-cheese/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-6-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-6-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-6-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-6-600x599.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-6-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-6-768x767.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-6-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-6.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/parmesan-cheese/index.htm">Parmesan Cheese</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>18.00</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>82.00</bdi></span></span>
                                    <a href="../product/parmesan-cheese/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="412" data-product_sku="" aria-label="Select options for &ldquo;Parmesan Cheese&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-402 status-publish first instock product_cat-cheese product_tag-cheese product_tag-cream product_tag-italian product_tag-organic has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/brie-cheese/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-7-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-7-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-7-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-7-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-7-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-7-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-7-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-7.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/brie-cheese/index.htm">Brie Cheese</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>25.50</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>110.90</bdi></span></span>
                                    <a href="../product/brie-cheese/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="402" data-product_sku="" aria-label="Select options for &ldquo;Brie Cheese&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-387 status-publish instock product_cat-cheese product_tag-buttery product_tag-taste has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/camembert-cheese/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-8-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-8-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-8-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-8-600x601.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-8-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-8-768x769.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-8-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-8.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/camembert-cheese/index.htm">Camembert Cheese</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>46.99</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>135.99</bdi></span></span>
                                    <a href="../product/camembert-cheese/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="387" data-product_sku="" aria-label="Select options for &ldquo;Camembert Cheese&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                        <li class=" column-1_3 product type-product post-364 status-publish last instock product_cat-milk product_tag-cream product_tag-italian has-post-thumbnail shipping-taxable purchasable product-type-variable">
                            <div class="post_item_wrap">
                                <div class="post_featured">
                                    <div class="post_thumb">
                                        <a class="hover_icon hover_icon_link" href="../product/tested-raw-milk/index.htm">
                                            <img width="300" height="300" src="~/Content/wp-content/uploads/2016/09/product-9-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2016/09/product-9-300x300.jpg 300w, ~/Content/wp-content/uploads/2016/09/product-9-100x100.jpg 100w, ~/Content/wp-content/uploads/2016/09/product-9-600x600.jpg 600w, ~/Content/wp-content/uploads/2016/09/product-9-150x150.jpg 150w, ~/Content/wp-content/uploads/2016/09/product-9-768x768.jpg 768w, ~/Content/wp-content/uploads/2016/09/product-9-500x500.jpg 500w, ~/Content/wp-content/uploads/2016/09/product-9.jpg 900w" sizes="(max-width: 300px) 100vw, 300px">
                                        </a>
                                    </div>
                                </div>
                                <div class="post_content">
                                    <h2 class="woocommerce-loop-product__title"><a href="../product/tested-raw-milk/index.htm">Tested Raw Milk</a></h2>
                                    <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>23.00</bdi></span> &ndash; <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>29.50</bdi></span></span>
                                    <a href="../product/tested-raw-milk/index.htm" data-quantity="1" class="button product_type_variable add_to_cart_button" data-product_id="364" data-product_sku="" aria-label="Select options for &ldquo;Tested Raw Milk&rdquo;" rel="nofollow">Select options</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar widget_area scheme_light" role="complementary">
                <div class="sidebar_inner widget_area_inner">
                    <aside id="woocommerce_widget_cart-2" class="widget_number_1 widget woocommerce widget_shopping_cart"><h4 class="widget_title">Your Cart</h4><div class="widget_shopping_cart_content"></div></aside><aside id="woocommerce_price_filter-2" class="widget_number_2 widget woocommerce widget_price_filter">
                        <h4 class="widget_title">Price Filter</h4>
                        <form method="get" action="https://dairy-farm.ancorathemes.com/shop/">
                            <div class="price_slider_wrapper">
                                <div class="price_slider" style="display:none;"></div>
                                <div class="price_slider_amount" data-step="10">
                                    <input type="text" id="min_price" name="min_price" value="0" data-min="0" placeholder="Min price">
                                    <input type="text" id="max_price" name="max_price" value="140" data-max="140" placeholder="Max price">
                                    <button type="submit" class="button">Filter</button>
                                    <div class="price_label" style="display:none;">
                                        Price: <span class="from"></span> &mdash; <span class="to"></span>
                                    </div>
                                    <input type="hidden" name="q" value="/shop/"> <div class="clear"></div>
                                </div>
                            </div>
                        </form>
                    </aside><aside id="woocommerce_product_categories-2" class="widget_number_3 widget woocommerce widget_product_categories">
                        <h4 class="widget_title">Categories</h4><ul class="product-categories">
                            <li class="cat-item cat-item-35"><a href="../product-category/butter/index.htm">Butter</a></li>
                            <li class="cat-item cat-item-36"><a href="../product-category/cheese/index.htm">Cheese</a></li>
                            <li class="cat-item cat-item-38"><a href="../product-category/ice-cream/index.htm">Ice Cream</a></li>
                            <li class="cat-item cat-item-34"><a href="../product-category/milk/index.htm">Milk</a></li>
                            <li class="cat-item cat-item-37"><a href="../product-category/yoghurt/index.htm">Yoghurt</a></li>
                        </ul>
                    </aside><aside id="woocommerce_product_tag_cloud-2" class="widget_number_4 widget woocommerce widget_product_tag_cloud">
                        <h4 class="widget_title">Tags</h4><div class="tagcloud">
                            <a href="../product-tag/buttery/index.htm" class="tag-cloud-link tag-link-52 tag-link-position-1" style="font-size: 8pt;" aria-label="buttery (3 products)">buttery</a>
                            <a href="../product-tag/cheese/index.htm" class="tag-cloud-link tag-link-51 tag-link-position-2" style="font-size: 8pt;" aria-label="cheese (3 products)">cheese</a>
                            <a href="../product-tag/cream/index.htm" class="tag-cloud-link tag-link-54 tag-link-position-3" style="font-size: 22pt;" aria-label="cream (7 products)">cream</a>
                            <a href="../product-tag/italian/index.htm" class="tag-cloud-link tag-link-55 tag-link-position-4" style="font-size: 22pt;" aria-label="italian (7 products)">italian</a>
                            <a href="../product-tag/organic/index.htm" class="tag-cloud-link tag-link-50 tag-link-position-5" style="font-size: 8pt;" aria-label="organic (3 products)">organic</a>
                            <a href="../product-tag/taste/index.htm" class="tag-cloud-link tag-link-53 tag-link-position-6" style="font-size: 8pt;" aria-label="taste (3 products)">taste</a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>




